[submodule "backend"]
	path = backend
	url = https://github.com/luongvankiet/flair-realestate-BE.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/luongvankiet/flair-realestate-FE.git
